@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-jakarta);
  --font-serif: var(--font-lora);
  --animate-spin-slow: spin 3s linear infinite;
}

@layer base {
  body, p {
    font-family: var(--font-serif), serif;
  }
  h1, h2, h3, h4 {
    font-family: var(--font-sans), sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
  }
}
